# Ignore everything
*

# Keep Git config files
!.gitignore
!.gitattributes

# Allow 'project' folder
!project/

# Ignore everything inside 'project'
project/*

# Allow 'arduino' folder and everything in it
!project/arduino/
!project/arduino/**
